@using SFSample
@{
    ViewBag.Title = "FileExplorer";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>FileExplorer Features:</h2>
<br/>
<li> Default</li>
<li> RTL</li>
<li> Theme - Flat-Saffron</li>
<br/>
<div id = "ControlRegion">
<div class="layout">
@Html.EJ().FileExplorer("fileExplorer").FileTypes("*.png, *.gif, *.jpg, *.jpeg, *.docx").Path("~/content/images/FileExplorer/").AjaxAction(@Url.Content("/FileExplorer/FileActionDefault")).Width("900px").Height("400px").IsResponsive(true).EnableRTL(true).ShowThumbnail(false)
</div>
<style>
    .layout{
        margin-top:10px;
    }
</style>
</div>
